*{
    margin: 0;
    padding: 0;
    background-color: #111;
    font-family: 'Courier New', Courier, monospace;
}
.top{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #449F1A;
    display: flex;
    justify-content: space-between;
}
.tittle-aplication{
    padding-left: 20px;
    padding-top: 10px;
    font-family:'Courier New', Courier, monospace;
    color: #449F1A;  
    cursor: pointer;
}
.logo-top{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 20px;
}
.left-top{
    display: flex;
}
.right-top{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.right-top img{
    cursor: pointer;
}
.all-content{
    width: 100%;
}
.back-icon{
    padding-left: 20px;
    padding-top: 20px;
    cursor: pointer;
    width: 25px;
}
.center-content{
    width: 70%;
    margin: auto;
}
.input-top{
    display: flex;
    justify-content: space-between;
}
.input-project-name label{
    color: #449F1A;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
}
.input-project-name input{
    width: 400px;
    height: 30px;
    font-size: 20px;
    border: 1px solid #449F1A;
    color: #fff;
    font-family:'Courier New', Courier, monospace;
    padding-left: 10px;
    outline: none;
}
.input-project-status label{
    color: #449F1A;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
}
.input-project-status select{
    width: 400px;
    height: 30px;
    font-size: 20px;
    border: 1px solid #449F1A;
    color: #fff;
    font-family:'Courier New', Courier, monospace;
    padding-left: 10px;
    outline: none;
}
.custom-select {
  position: relative;
  width: 180px;
  cursor: pointer;
  user-select: none;
  font-family: inherit;
}

.selected-option {
  padding: 10px 12px;
  border: 1px solid #449F1A;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  transition: border 0.2s;
  color: #449F1A;
  font-family: 'Courier New', Courier, monospace;
}

.selected-option .arrow {
  margin-left: auto;
  font-size: 12px;
  color: #449F1A;
  
}

.options-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #449F1A;
  border: 1px solid #449F1A;
  border-radius: 6px;
  margin-top: 4px;
  z-index: 100;
  max-height: 200px;
  overflow-y: auto;
  color: #449F1A;
  font-family: 'Courier New', Courier, monospace;
}

.option-item {
  padding: 10px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  transition: background 0.2s;
}


.option-item.selected {
  font-weight: 500;
}

.icons-select {
  width: 16px;
  height: 16px;
  object-fit: contain;
}
.repository-technology{
    padding-top: 40px;
}
.repository-technology label{
    color: #449F1A;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    
}
.repository-technology input{
    width: 400px;
    height: 30px;
    font-size: 20px;
    border: 1px solid #449F1A;
    color: #fff;
    font-family:'Courier New', Courier, monospace;
    padding-left: 10px;
    outline: none;
    margin-bottom: 40px;
}
.save-technology{
    width: 50px;
    height: 35px;
    border: 1px solid #449F1A;
    color: #fff;
    font-family:'Courier New', Courier, monospace;
    margin-left: 10px;
    cursor: pointer;
    color: #449F1A;
}
#ok-technology{
    margin-left: 20px;
    width: 40px;
    font-weight: bold;
    cursor: pointer;
}
#ok-technology:hover{
    background-color: #449F1A;
    color: #111;
}
.save-project{
    width: 400px;
    height: 30px;
    font-size: 20px;
    color: #449F1A;
    border: 1px solid #449F1A;
    cursor: pointer;
    font-weight: bold;
}
.save-project:hover{
    background-color: #449F1A;
    color: #111;
}