*{
    margin: 0;
    padding: 0;
    background-color: #111;
}
.top{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #449F1A;
    display: flex;
    justify-content: space-between;
}
.tittle-aplication{
    padding-left: 20px;
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #449F1A;  
    cursor: pointer;
}
.logo-top{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 20px;
}
.left-top{
    display: flex;
}
.right-top{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.right-top img{
    cursor: pointer;
}