*{
    margin: 0;
    padding: 0;
    background-color: #111;
}
.top{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #449F1A;
    display: flex;
    justify-content: space-between;
}
.tittle-aplication{
    padding-left: 20px;
    padding-top: 10px;
    font-family:'Courier New', Courier, monospace;
    color: #449F1A;  
    cursor: pointer;
}
.logo-top{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 20px;
}
.left-top{
    display: flex;
}
.right-top{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.right-top img{
    cursor: pointer;
}
.title-home{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.title-home-page{
    padding-left: 25px;
    color: #449F1A;
    font-family:'Courier New', Courier, monospace;
}
.actions-home{
    padding-right: 25px;
}
.select-filter{
    width: 120px;
    padding: 8px;
    border: none;
    color: #449F1A;
    outline: none;
    cursor: pointer;
}
.btn-add-project{
    padding: 8px 12px;
    margin-left: 20px;
    background-color: #449F1A;
    border: none;
    color: #111;
    font-weight: bold;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
}
.btn-add-project:hover{
    background-color: rgb(79, 182, 31);
}