*{
    margin: 0;
    padding: 0;
    background-color: #111;
}
.top{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #449F1A;
    display: flex;
}
.tittle-aplication{
    height: 100%;
    padding: 10px 0 0 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #449F1A;
}
.logo-top{
    height: 50px;
    right: 20px;
    top: 5px;
}